use-cases/examples/1.0/DOTA-v1.5.json filter=lfs diff=lfs merge=lfs -text
use-cases/examples/1.0/DOTA-v1.5.xml filter=lfs diff=lfs merge=lfs -text
use-cases/examples/1.0/DOTA-v1.5-changeset.json filter=lfs diff=lfs merge=lfs -text
use-cases/examples/1.0/DOTA-v1.5-changeset.xml filter=lfs diff=lfs merge=lfs -text
use-cases/SpaceNet7/SpaceNet7.7z filter=lfs diff=lfs merge=lfs -text
use-cases/examples/1.0/COWC.json filter=lfs diff=lfs merge=lfs -text
use-cases/examples/1.0/COWC.xml filter=lfs diff=lfs merge=lfs -text
